.sidebar-fixed {
    height: 200vh;
    width: 400px;
    z-index: 500;
    background-color: white;
}
.sidebar-fixed .list-group {
    border-radius: 5px;
    padding: 2.5rem;
}
body {
    padding-top: 70px;
    background: #DCDCDC;
}
html body {
    background-color: #E6E6FA	;
}
.btn-primary-outline {
  padding:20px 40px;
  background: #fff;
  border:0;
  position:relative;
}